<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul>
      <li>
        <a routerLinkActive="active" (click)="toggleSubmenu()">

          <span class="menu-text">Stage</span>
          <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
            <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          </span>
        </a>
        <!-- Sub-menu for Dashboard with left padding -->
        <ul *ngIf="isSubmenuOpen" class="sub-menu">
          <li><a   [class.active]="PFEselected" (click)="selectPFE()"><span class="menu-text">Pfe</span></a></li>
          <li><a  [class.active]="ETEselected" (click)="selectETE()"><span class="menu-text">Stage d'été</span></a></li>
        </ul>
      </li>
      <li>
        <input type="text"
        id="specialite"
        placeholder="Competence"
        (change)="setSpecialite($event)"[(ngModel)]="specialite"class="inputs"
        >
      </li>
      <li>
        <input type="text"
        id="duree"
        placeholder="Gouvernat"
        (change)="setDuree($event)"[(ngModel)]="duree"class="inputs"
        >
      </li>
      <li>
        <div style="display: flex; justify-content: center;">
          <button style="display: flex; margin: 4px 2px; text-align: center; align-items: center;  background-color: #dadadd; color: rgb(29, 32, 35);" (click)="viderChamps()" >Effacer</button>

          <button style="display: flex; margin: 4px 2px; text-align: center; align-items: center; background-color: #448ac3; color: #ffffff;" (click)="submit()" >Filtrer</button>
        
        
        </div>
            </li>
      
    </ul>
  </div>

